<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel Weather Forecast</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="background"></div>
    <div id="app">
      <div id="content">
        <h1 class ="holder headline">
          Travel Weather Forecast App
        </h1>
        <div class ="holder zip">
          <label for="zip">Zipcode here</label>
          <input type="text" id="zip" placeholder="Enter zip code">
        </div>
        <div class ="holder date">
          <label for="date">Travel Date</label>
          <input type id="date" placeholder="Enter date in MM/DD/YYYY"></input>
        </div>
        <div class ="holder button">
          <button id="generate" type = "submit"> Get Forecast </button>
        </div>
        <div id='forecast' class ="holder">
          <h1 id = "title"></h1>
          <div id = "entryHolder">
            <img id = "photo"/>
            <div id = "city"></div>
            <div id = "state"></div>
            <div id = "timezone"></div>
            <div id = "tempHigh"></div>
            <div id = "tempLow"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>